/* $Id

This stylesheet is a modified version of the 960 debug.css file, adapted to work
with BlueTrip for Drupal by CouzinHub

*/



.showgrid .span-1:hover,
.showgrid .span-2:hover,
.showgrid .span-3:hover,
.showgrid .span-4:hover,
.showgrid .span-5:hover,
.showgrid .span-6:hover,
.showgrid .span-7:hover,
.showgrid .span-8:hover,
.showgrid .span-9:hover,
.showgrid .span-10:hover,
.showgrid .span-11:hover,
.showgrid .span-12:hover,
.showgrid .span-13:hover,
.showgrid .span-14:hover,
.showgrid .span-15:hover,
.showgrid .span-16:hover,
.showgrid .span-17:hover,
.showgrid .span-18:hover,
.showgrid .span-19:hover,
.showgrid .span-20:hover,
.showgrid .span-21:hover,
.showgrid .span-22:hover,
.showgrid .span-23:hover,
.showgrid .span-24:hover{
  background-color: rgba(0, 255, 255, .2);
  background-repeat: no-repeat;
  background-position: top right;
  outline: 1px solid #d66;
}

.showgrid .span-1:hover {  background-image: url(../images/grid_count/1.png);}
.showgrid .span-2:hover {  background-image: url(../images/grid_count/2.png);}
.showgrid .span-3:hover {  background-image: url(../images/grid_count/3.png);}
.showgrid .span-4:hover {  background-image: url(../images/grid_count/4.png);}
.showgrid .span-5:hover {  background-image: url(../images/grid_count/5.png);}
.showgrid .span-6:hover {  background-image: url(../images/grid_count/6.png);}
.showgrid .span-7:hover {  background-image: url(../images/grid_count/7.png);}
.showgrid .span-8:hover {  background-image: url(../images/grid_count/8.png);}
.showgrid .span-9:hover {  background-image: url(../images/grid_count/9.png);}
.showgrid .span-10:hover {  background-image: url(../images/grid_count/10.png);}
.showgrid .span-11:hover {  background-image: url(../images/grid_count/11.png);}
.showgrid .span-12:hover {  background-image: url(../images/grid_count/12.png);}
.showgrid .span-13:hover {  background-image: url(../images/grid_count/13.png);}
.showgrid .span-14:hover {  background-image: url(../images/grid_count/14.png);}
.showgrid .span-15:hover {  background-image: url(../images/grid_count/15.png);}
.showgrid .span-16:hover {  background-image: url(../images/grid_count/16.png);}
.showgrid .span-17:hover {  background-image: url(../images/grid_count/17.png);}
.showgrid .span-18:hover {  background-image: url(../images/grid_count/18.png);}
.showgrid .span-19:hover {  background-image: url(../images/grid_count/19.png);}
.showgrid .span-20:hover {  background-image: url(../images/grid_count/20.png);}
.showgrid .span-21:hover {  background-image: url(../images/grid_count/21.png);}
.showgrid .span-22:hover {  background-image: url(../images/grid_count/22.png);}
.showgrid .span-23:hover {  background-image: url(../images/grid_count/23.png);}
.showgrid .span-24:hover {  /*no img for 24 */}