/* $Id

  These styles are the overrides of bluetrip.css so BlueTrip works with the drupal default system.
  by CouzinHub

*/

ol,ul{list-style:none}
.container.showgrid {background:url(../images/grid.png);}
.container hr {height:1px;}

a[href^="http:"]          { background-image: url(../images/icons/external.png); padding-right: 14px; } 
a[href^="mailto:"]        { background-image: url(../images/icons/email.png); }
a[href^="http:"]:visited  { background-image: url(../images/icons/visited.png); }

/* Files */
a[href$=".pdf"]   { background-image: url(../images/icons/pdf.png); }  
a[href$=".doc"]   { background-image: url(../images/icons/doc.png); }  
a[href$=".xls"]   { background-image: url(../images/icons/xls.png); }  
 
/* Misc */
a[href$=".rss"], 
a[href$=".rdf"]   { background-image: url(../images/icons/feed.png); }
a[href^="aim:"]   { background-image: url(../images/icons/im.png); }

/* messages */
.container .status, .container .messages {padding:.8em;margin-bottom:1.6em;border:2px solid #ddd;}
.container .messages.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.container .messages {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.container .messages.error a {color:#8a1f11; background:none; padding:0; margin:0; }
.container .status a {color:#514721; background:none; padding:0; margin:0; }
.container .messages a {color:#264409; background:none; padding:0; margin:0; }

/* Form Links */
.container a.button, .container button, .container input,
.container input[type="text"], .container input[type="password"], select{
  margin:0 0.583em 0.667em 0;
  padding:5px 10px 5px 7px;   /* Links */
  border:1px solid #dedede;
  border-top:1px solid #eee;
  border-left:1px solid #eee;
  background:#f5f5f5;
  font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size:100%;
  line-height:130%;
  text-decoration:none;
  font-weight:bold;
  color:#565656;
  cursor:pointer;
}

.container a.button, .container button,
.container input[type="text"]{
  display: inline-block;
}

.container input {
  width:auto;
  overflow:hidden;
  padding:4px 10px 3px 7px;   /* IE6 */
}

.container input[type] {
  padding:4px 10px 4px 7px;   /* Firefox */
  line-height:17px;           /* Safari */
}

*:first-child+html .container input[type] {
  padding:4px 10px 3px 7px;   /* IE7 */
}

.container button img, .container a.button img{
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
  float:none;
}

/* Standard Buttons */

.container input:hover, .container input#edit-preview:hover{
  background-color:#dff4ff;
  border:1px solid #c2e1ef;
  color:#336699;
}
.container input:active, .container input#edit-preview:active{
  background-color:#6299c5;
  border:1px solid #6299c5;
  color:#fff;
}

/* Positive */
input#edit-submit,
input#edit-save {
  color:#529214;
}
input#edit-submit:hover,
input#edit-save:hover {
  background-color:#E6EFC2;
  border:1px solid #C6D880;
  color:#529214;
}
input#edit-submit:active,
input#edit-save:active {
  background-color:#529214;
  border:1px solid #529214;
  color:#fff;
}

/* Negative */
input#edit-delete{
  color:#d12f19;
}
input#edit-delete:hover {
  background-color:#fbe3e4;
  border:1px solid #fbc2c4;
  color:#d12f19;
}
input#edit-delete:active {
  background-color:#d12f19;
  border:1px solid #d12f19;
  color:#fff;
}

/* Edit */
input#edit-save-and-edit{
  color:#ff9600;
}
input#edit-save-and-edit:hover{
  color:#ff9600;
  border:1px solid #FFC000;
}
input#edit-save-and-edit:active{
  background-color:#FFC000;
  border:1px solid #FFC000;
  color:#fff;
}


/* -----------------------------------------------------------------------

    Drupal more specifics rules

----------------------------------------------------------------------- */

/* hide the skip to nav link for css compliant browsers */
#skip-nav{
  display:none;
}

/* styles for the show/hide link for the Grid */
#switchgrid{
  position:fixed;
  bottom:15px;
  left:20px;
  width:85px;
  height:15px;
  background:transparent url(../images/toggle.png) no-repeat bottom left;
  overflow:hidden;
  text-indent:-3000px;
}
#switchgrid.off{
  background-position:top left;
}

/* UI */
.tabs ul{
  margin-left:0;
}
.container .sidebar ul{
  margin-left:0;
}
.container .sidebar ul ul{
  margin-left:0;
}
.sidebar ul li{
  margin:0 0.85em 0 0;
  padding:0;
}
.container fieldset legend {
  padding-left:0;
}
.form-item .description{
  color:#777;
}

/* Messages */
.container .messages, 
.container .status, 
input#edit-submit,
input#edit-save{
  background:#E6EFC2 url(../images/icons/tick.png) no-repeat 10px 50%;
  padding-left:35px;
}
.container .messages.error, 
input#edit-delete{
  background:#FBE3E4 url(../images/icons/cross.png) no-repeat 10px 50%;
  padding-left:35px;
}
input#edit-save-and-edit {
  background:#FFF6BF url(../images/icons/key.png) no-repeat 10px 50%;
  padding-left:35px;
}
input#edit-preview{
  padding-left:35px;
  background:#DFF4FF url(../images/icons/eye.png) no-repeat 10px 50%;
}
#main input{
  background-position:10px 4px;
}
.container .messages ul{
  margin:0;
}

/* Node */
.node{
  padding-bottom:20px;
}

/* Views */

.views-edit-view a{
  padding:0;
}
#views-ajax-form input{
  background-image:none;
}

/* Rollover edit links for blocks
----------------------------*/

div.block {
  position: relative;
}

div.block div.edit {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px;
  font-size: 11px;
  background-color: #fff;
}
div.block:hover div.edit {
  display: block;
}

/* Misc
---------*/

#search-theme-form div{
  margin-bottom:0;
}


/*
 * Tabs CSS
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal5-reference.css, line 510.)
 *
 */


.container div.tabs {
  margin: 0 0 5px 0;
}

.container ul.primary {
  margin: 0;
  padding: 0 0 0 10px;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(../images/tabs/tab-bar.png) repeat-x left bottom;
}

.container ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}

.container ul.primary li a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px; /* width of tab-left.png */
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left -38px;
}

.container ul.primary li a .tab {
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(../images/tabs/tab-right.png) no-repeat right -38px;
}

.container ul.primary li a:hover {
  border-width: 0;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left -76px;
}

.container ul.primary li a:hover .tab {
  background: url(../images/tabs/tab-right.png) no-repeat right -76px;
}

.container ul.primary li.active a,
.container ul.primary li.active a:hover {
  border-width: 0;
  color: #000;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left 0;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  background: url(../images/tabs/tab-right.png) no-repeat right 0;
}

.container ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
  background: url(../images/tabs/tab-secondary-bg.png) repeat-x left bottom;
}

.container ul.secondary li {
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none;
}

.container ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  color: #777;
  background: url(../images/tabs/tab-secondary.png) repeat-x left -56px;
}

.container ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

.container ul.secondary a:hover {
  background: url(../images/tabs/tab-secondary.png) repeat-x left bottom;
}

.container ul.secondary a.active,
.container ul.secondary a.active:hover {
  border: 1px solid #c0c0c0;
  color: #000;
  background: url(../images/tabs/tab-secondary.png) repeat-x left top;
}
